.loginPage {
  height: 102.8%;
  width: 100%;
  background-image: url("../images/maybe-bg-4.jpg");
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: cover;
  contain: content;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.navCont {
  height: 73.5%;
  width: 100%;
}

.navBar {
  position: absolute;
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  margin-left: -1.15%;
  filter: none;
}

#navBtn {
  height: 34%;
  width: 100%;
  background-color: gray;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  outline: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navBarBtnText {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.myInfoDiv {
  text-align: center;
  margin-top: 5%;
}

#navBarBtnTextTwo {
  margin-left: 18%;
  width: 70%;
  font-weight: bolder;
}

.flexColumnCont {
  height: 30%;
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-left: 16%;
  margin-top: 10%;
}

.quoteCont {
  position: absolute;
}

.quoteText {
  font-size: 35px;
  text-align: center;
}

.quoteTextTwo {
  font-size: 28px;
  text-align: center;
  right: 39.7%;
}

#navBarBtnTextTwo {
  margin-top: 5%;
  font-size: 18px;
  font-weight: bolder;
  color: black;
}

.loginModal {
  height: 100%;
  width: 60%;
  background-color: rebeccapurple;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  margin-left: 23.1%;
  margin-top: 10%;
  border: solid 4px black;
  visibility: hidden;
}

.loginModalTwo {
  height: 65%;
  width: 50%;
  background-color: whitesmoke;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 7%;
  border: solid black 2px;
  visibility: visible;
}

.loginModal:focus {
  background-color: steelblue;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.loginModalHeader {
  height: 12%;
  width: 100%;
  border-bottom: solid gray thin;
  display: flex;
  flex-direction: column;
}

.modalXBtn {
  font-size: 28px;
  position: absolute;
  height: 7%;
  width: 5%;
  font-weight: 500;
  bottom: 86.5%;
  left: 94%;
}

.closeModalBtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.closeModalBtn:focus {
  border: transparent;
  outline: transparent;
  background-color: transparent;
}

.loginModalBody {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.inputFields {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#inputLoginText {
  width: 80%;
  height: 15%;
  align-self: center;
  border: solid black 1px;
  margin-top: 10%;
  text-align: center;
  font-size: 20px;
}

#inputLoginText:focus {
  outline: transparent;
  border: solid black 1px;
  background-color: white;
}

.rememberMeDiv {
  height: 14%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.rememberMeCont {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rememberMeCont > h4 {
  padding-right: 2%;
}

.forgotPasswordBtn {
  width: 50%;
  height: 100%;
  outline: transparent;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.myCont {
  height: 15%;
  width: 100%;
  border-top: solid gray thin;
}

.modalLogin {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.forgotPassBtn {
  font-weight: bolder;
  color: blue;
}

.modalLogin {
  border: transparent;
}

.sideCont {
  height: 100%;
  width: 25%;
  background-color: #80879b;
  opacity: 0.5;
  padding-top: 5%;
  padding-bottom: 15%;
  display: flex;
  flex-direction: column;
}

.iconImgSpan {
  background-color: white;
  height: 29%;
  width: 15%;
  border-radius: 190px;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 5%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

.iconImgSpan > img {
  height: 80%;
  width: 95%;
  margin-bottom: 10%;
  background-color: transparent;
  position: absolute;
  margin-right: 3.75%;
  color: black;
}

.headerSpan {
  height: 22%;
  width: 18%;
  font-size: 28px;
  position: absolute;
  margin-top: 16%;
  line-height: 1.05;
  margin-left: 0.75%;
}

.headerSpan > h1 {
  font-family: "garamond";
  color: white;
}

.line {
  width: 50.75%;
  margin-top: -10%;
  border: solid white 5px;
}

.headerSpan > h4 {
  width: 120%;
  margin-top: 6%;
  line-height: 1.08;
  color: white;
  font-weight: 2000;
  font-family: "garamond";
  margin-bottom: 20%;
}

.loginBtnContain {
  height: 10%;
  width: 20%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 5%;
}

.loginBtn {
  height: 50%;
  width: 45%;
  margin-left: 3%;
  margin-right: 3%;
  border: solid white 2px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.loginBtn:focus {
  outline: none;
}

.signupBtn {
  height: 50%;
  width: 45%;
  border: none;
  background-color: transparent;
  border: solid white 2px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.signupBtn:hover {
  background-color: whitesmoke;
  opacity: 0.9;
}

.loginBtnContain > button > h2 {
  color: white;
  font-weight: 1400;
  font-size: 25px;
}

.loginBtnText {
  margin-right: 4%;
}

.signupBtnText:hover {
  color: black;
}

/*# sourceMappingURL=loginOutput.css.map */
