.navbarTop{
    height: 8%;
    width: 100%;
    max-width: 100%;
    background-color: white;
    border-bottom:  solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoTextCont{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rebeccapurple; */
}

.logoTextCont > h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 32px;
    height: 75%;
    width: 32%;
    margin-left: 4%;
    font-weight: 500;
}

.logoTextCont > img{
    height: 100%;
    width: 29%;
    justify-self: flex-start;
    padding-left: 2%;
    /* margin-left: -3%; */
}

.moveRight{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 20%;
    /* background-color: fuchsia; */
}

.newPostBtn{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: royalblue; */
    margin: auto;
}

.postBtnForReal{
    background-color: ghostwhite;
    height: 100%;
    width: 100%;
    display: flex;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: none;
    border-top: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.postBtnForReal:hover{
    background-color: rgb(169, 169, 190);
}

.postBtnForReal > h3{
    font-size: 30px;
    font-weight: 500;
}

#navBtn{
    height: 100%;
    width: 35%;
    border-left: solid black 1px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
    font-size: 17.5px;
    cursor: pointer;
    justify-content: center;
}

#navBtn:focus{
    outline: transparent;
    border-bottom: solid 4px black;
}

#btnText{
    align-self: center;
}

.navBtnHome{
    width: 33.33%;
    height: 100%;
}

.navBtnAccount{
    width: 33.33%;
    height: 100%;
}

.navBtnLogout{
    width: 33.33%;
    height: 100%;
}

/* .dropDownCont{
    z-index: 1;
    height: 29.17%;
    width: 9.31%;
    background-color: oldlace;
    position: absolute;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    display: flex;
    flex-direction: column;
}

#menuOptionLI{
    width: 100%;
    height: 100%;
}

#menuOptionBtn{
    height: 110%;
    width: 80%;
    cursor: pointer;
}

#menuOptionBtn:focus{
    outline: none;
} */