.inDepthPostPage{
    height: 100%;
    width: 100%;
    /* background-color: bisque; */
    // background-color: rgb(245, 224, 105);
    /* background-color: whitesmoke; */
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.blogImgCont{
    margin-top: 3%;
    align-self: center;
    height: 500px;
    width: 1000px;
    border: oldlace solid 4px;
    /* background-size: cover; */
    display: flex;
    align-items: flex-end;
}

.blogImg{
    align-self: center;
    /* height: 491.75px;
    width: 800px; */
    height: 100%;
    width: 100%;
    background-size: cover;
    /* display: flex; */
}

.publishingInfo{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    border-bottom: solid oldlace 1px;
    margin-bottom: 4%;
    align-self: center;
    margin-top: 3%;
    justify-content: center;
}

#blogPublishDate{
    margin-top: 6%;
    font-size: 18px;
}

#blogTitle{
    font-size: 50px ;
    text-align: center;
    margin-left: 2%;
    color: oldlace;
    
}

.blogBody{
    align-self: center;
    height: 100%;
    width: 60%;
    background-color: whitesmoke;
    padding: 4%;
    line-height: 1.5;
}

.commentsCont{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 360px;
    width: 68%;
    background-color: whitesmoke;
    align-self: center;
    margin-bottom: 10%;
    overflow: scroll;
}


.actualCommentsCont{
    align-self: center;
    height: 250px;
    width: 80%;
    margin-bottom: 2%;
    border: solid black 1px;
}

.commentAuthDiv{
    height: 40%;
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: row;
}

.commentAuthPic{
    height: 90%;
    width: 7.25%;
    background-color: red;
    margin-right: 1%;
    border-radius: 30px;
}

.commentsTitle{
    text-align: center;
    height: 14%;
    width: 100%;
    border-bottom: solid gray thin;
    margin-bottom: 2%;
    padding-bottom: .5% ;
}

.indivContDiv{
    align-self: center;
    height: 40%;
    width: 80%;
    background-color: white;
    margin-top: .25%;
    border: solid black 1px;
    margin-bottom: 3%;
    font-size: 18px;
    padding-left: 1%;
}