.likeContainer{
    height: auto;
    width: 50%;
    /* background-color: gold; */
    display: flex;
}

.heartBtn{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
}

.heartCounter{
    font-size: 16px;
    width: 18%;
    /* padding-bottom: 8%; */
    padding-bottom: 15.5%;
}

.heartImg{
    /* height: 65%; */
    /* width: 21.5%; */

    /* height: 55%; */
    /* width: 34%; */

    height: 55%;
    width: 38%;

    margin-right: 4%;
    cursor: pointer;
}

.heartBtn:focus{
    outline: none;
}
 
.heartBtn:checked {
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    width: 35%;
    font-size: 45px;
    margin-top: 1%;
}